<mat-card fxLayout="column">
  <mat-card-title>
    <p class = "mat-subheading-2">
      {{post.title}}
    </p>
  </mat-card-title>
  <mat-card-content>
    <p style = "height: 38px; text-overflow: ellipsis; overflow: hidden" class = "mat-body-1">
      {{post.content}}
    </p>
    <p>
      ...
    </p>
  </mat-card-content>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-end center" fxFlexAlign=" flex-end">
    <p class = "mat-caption">
      {{post.authorName}}
    </p>
    <p class = "mat-caption" style = "color:gray">
      {{post.created | date}}
    </p>
  </div>
  <mat-card-actions fxFlexAlign=" flex-end">
    <button (click)="onDetailButtonClicked()" mat-raised-button color = "accent">
      Xem chi tiết
    </button>
  </mat-card-actions>
</mat-card>
