
<section
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h2
    class = "mat-title"
    style = "padding-top: 16px"
  >
    Đăng nhập
  </h2>
  <form
    #loginForm="ngForm"
    fxLayout = "column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <mat-form-field
      #usernameContainer
      class = "formField"
    >
      <input
        #username = "ngModel"
        ngModel
        name = "username"
        type = "text"
        matInput
        placeholder="Tên tài khoản"
        required
      />
      <mat-error *ngIf="username.hasError('required')">Mật khẩu không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      #passwordContainer
      class = "formField"
    >
      <input
        #password = "ngModel"
        type = "password"
        ngModel
        name = "password"
        matInput
        placeholder="Mật khẩu"
        required
      />
      <mat-error *ngIf = "password.hasError('required')">Mật khẩu không được để trống</mat-error>
    </mat-form-field>
    <button mat-raised-button color = "primary" (click)="login(loginForm.value)" [disabled] = "loginForm.invalid">
      Đăng nhập
    </button>
  </form>
</section>
