<section fxLayout = "column" style = "padding:16px">
  <p class = "mat-title" >
    Thêm tin tức mới
  </p>
  <form
    #createNewsForm = "ngForm"
    fxLayout = "column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <mat-form-field
      class = "formField"
    >
      <textarea
        #title = "ngModel"
        name = "title"
        matInput
        placeholder = "Tiêu đề"
        [(ngModel)]  = "titleText"
        required
      ></textarea>
      <mat-error>Tiêu đề không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      class = "formField"
    >
      <input
        #thumbnail = "ngModel"
        name = "thumbnail"
        [(ngModel)]  = "thumbnailText"
        matInput
        placeholder = "Hình đại diện(URL)"
        required
        pattern = "(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)"
      />
    <mat-error *ngIf = "thumbnail.hasError('required')">Hình đại diện không được để trống</mat-error>
      <mat-error *ngIf = "thumbnail.hasError('pattern')">Đường dẫn không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      class = "formField"
    >
      <textarea
        #content = "ngModel"
        name = "content"
        [(ngModel)]  = "contentText"
        matInput
        placeholder = "Nội dung"
        required
        style = "height: 120px"
      ></textarea>
      <mat-error>Nội dung không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      class = "formField"
    >
      <input
        #author = "ngModel"
        name = "author"
        [(ngModel)]  = "authorText"
        matInput
        placeholder = "Tác giả/Nguồn"
        required
      />
      <mat-error>Tác giả không được để trống</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      (click)="onCreateButtonClick()"
      [disabled]="createNewsForm.invalid"
      class = "formField"
      color = "accent"
    >
      <span>Xác nhận</span>
    </button>
  </form>
</section>
