<mat-nav-list>
  <a
    mat-list-item
    routerLink="/home"
    (click) = "onItemClick()"
  >
    <mat-icon>home</mat-icon>
    <span
      class = "navListItemText"
    >Trang chủ</span>
  </a>
  <a
    mat-list-item
    routerLink="/admin"
    (click) = "onItemClick()"
    *ngIf = "isAdmin$ | async"
  >
    <mat-icon>group</mat-icon>
    <span
      class = "navListItemText"
    >Trang quản trị</span>
  </a>
  <a
    mat-list-item
    routerLink="/forum"
    (click) = "onItemClick()"
    *ngIf="isAuth$|async"
  >
    <mat-icon>forum</mat-icon>
    <span
      class = "navListItemText"
    >Diễn đàn</span>
  </a>
  <a
    mat-list-item
    routerLink="/signup"
    (click) = "onItemClick()"
    *ngIf = "!(isAuth$ | async)"
  >
    <mat-icon>person_add</mat-icon>
    <span
      class  = "navListItemText"
    >Đăng ký</span>
  </a>
  <a
    mat-list-item
    routerLink = "/login"
    (click) = "onItemClick()"
    *ngIf = "!(isAuth$ | async)"
  >
    <mat-icon>input</mat-icon>
    <span
      class = "navListItemText"
    >Đăng nhập</span>
  </a>

  <a
    mat-list-item
    routerLink = "/profile"
    (click) = "onItemClick()"
    *ngIf = "isAuth$ | async"
  >
    <mat-icon>face</mat-icon>
    <span
      class = "navListItemText"
    >Hồ sơ</span>
  </a>
  <a
    mat-list-item
    routerLink = "/logout"
    (click) = "onItemClick()"
    *ngIf = "isAuth$ | async"
  >
    <mat-icon>eject</mat-icon>
    <span
      class = "navListItemText"
    >Đăng xuất</span>
  </a>
</mat-nav-list>
