<section style = "padding: 16px">
  <p class = "mat-title">
    Thêm bài viết mới
  </p>
  <form #createPostForm = "ngForm"
    fxLayout="column"
  >
    <mat-form-field
      class = "formField"
    >
      <textarea
        #title = "ngModel"
        name = "title"
        matInput
        placeholder = "Tiêu đề"
        [(ngModel)]  = "titleText"
        required
      ></textarea>
      <mat-error>Tiêu đề không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      class = "formField"
    >
      <textarea
        #content = "ngModel"
        name = "content"
        [(ngModel)]  = "contentText"
        matInput
        placeholder = "Nội dung"
        required
        style = "height: 120px"
      ></textarea>
      <mat-error>Nội dung không được để trống</mat-error>
    </mat-form-field>
    <button mat-raised-button color = "accent" (click)="onCreatePostButtonClicked()" [disabled]="createPostForm.invalid" >
      Đăng bài
    </button>
  </form>
</section>
