<ul style = "padding: 0; margin: 0; list-style-type: none" fxLayout="column" fxLayoutGap="16px">
  <li *ngFor="let comment of comments" style = "width: 100%">
    <app-post-comment [comment] = "comment"></app-post-comment>
  </li>
</ul>
