<mat-card>
  <p
    class = "mat-body-1"
  >
    {{comment.content}}
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="flex-start center"
  >
    <img [src] = "comment.commenter.thumbnail" alt = "commenter - thumbnail" style = "width: 36px; height: 36px"/>
    <span
      class = "mat-caption"
      style="padding-left: 8px"
    >
      {{comment.commenter.name}}
    </span>
    <span
      class = 'mat-caption'
      style = "color: gray; padding-left: 8px"
    >
      {{comment.created | date}}
    </span>
  </div>
  <mat-card-actions>
    <button
      mat-button
      mat-flat-button
    >
      Thích
    </button>
    <button
      mat-button
      mat-flat-button
    >
      Bình luận
    </button>
  </mat-card-actions>
</mat-card>
