<mat-card>
  <p class = "mat-body-2">
    {{comment.content}}
  </p>
  <p class = "mat-caption">
    <span>
      {{comment.authorName}}
    </span>
    <span style = "color:gray">
      {{comment.created | date}}
    </span>
  </p>
</mat-card>
