<section style = "padding: 0 16px">
  <div fxLayout="column" style = "margin-top: 16px">


    <button  mat-raised-button color = "accent" fxLayout="row" fxLayoutAlign="flex-end center" (click)="navigateToCreatePost()">

      <span style = "padding-right: 16px">THÊM BÀI VIẾT MỚI</span>
      <mat-icon>add</mat-icon>

    </button>
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px" style = "margin-top: 16px">
      <mat-form-field fxFlex="grow" >
        <input
          #keyword = "ngModel"
          ngModel
          name = "keyword"
          matInput
          placeholder="Tìm kiếm bài viết"
          type = "text"
          required
        />
        <mat-hint *ngIf="keyword.hasError('required')">Hãy nhập từ khóa để tìm kiếm</mat-hint>
      </mat-form-field>
      <span fxFlex="auto">
        <button mat-raised-button [disabled]="keyword.hasError('required')" (click)="onSearchButtonClick(keyword.value)">
          <mat-icon>search</mat-icon>
      </button>
      </span>
    </div>

    <p class = "mat-title"  style = "margin-top: 16px">
      Cài bài viết gần đây
    </p>
    <ul *ngIf = "searchedPosts != undefined && searchedPosts.length > 0" style = "margin: 0; padding: 0; list-style-type: none" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <li *ngFor="let post of searchedPosts">
        <app-post [post] = "post" (detailButtonClickListener) = "onDetailButtonClicked(post.id)"></app-post>
      </li>
    </ul>
    <span *ngIf="keyword.value != '' && keyword.value != null && keyword.value != undefined && searchedPosts.length == 0">Không tìm thấy kết quả nào phù hợp</span>
    <ul   *ngIf="searchedPosts.length == 0" style = "margin: 0; padding: 0; list-style-type: none;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <li *ngFor="let post of posts" style = "width: 100%">
        <app-post  [post] = "post" (detailButtonClickListener) = "onDetailButtonClicked(post.id)"></app-post>
      </li>
    </ul>
  </div>
</section>
