<section
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h2
    class ="mat-title"
    style = "padding-top: 16px; "
  >
    Đăng ký tài khoản
  </h2>
  <form
    #signUpForm="ngForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <mat-form-field
      #usernameContainer
      class = "signupFormField"
    >
      <input
        #username = "ngModel"
        ngModel
        matInput
        type = "text"
        name = "username"
        placeholder="Tên tài khoản"
        required
      />
      <mat-error *ngIf="username.hasError('required')">Tài khoản không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field #passwordContainer
      class = "signupFormField">
      <input
        #password = "ngModel"
        ngModel
        matInput
        type = "password"
        name = "password"
        placeholder="Mật khẩu"
        required
        minlength="6"
      />
      <mat-error *ngIf="password.hasError('required')">Mật khẩu không được để trống</mat-error>
      <mat-hint style = "white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      ><div>Độ dài mật khẩu > 6 ký tự</div></mat-hint>
    </mat-form-field>
    <mat-form-field
      #fullNameContainer
      class = "signupFormField"
    >
      <input
        #fullName = "ngModel"
        ngModel
        matInput
        type = "text"
        name = "fullName"
        placeholder="Tên đẩy đủ"
        required
      />
      <mat-error *ngIf="fullName.hasError('required')">Tên đầy đủ không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field #birthdayContainer
      class = "signupFormField"
    >
      <input
        #birthday = "ngModel"
        ngModel
        matInput
        [matDatepicker]="picker"
        name = "birthday"
        placeholder="Ngày sinh"
        required
      />
      <mat-error *ngIf="birthday.hasError('required')">Ngày sinh trống hoặc sai định dạng</mat-error>
      <mat-datepicker-toggle
        [for] = "picker"
        matSuffix
      >
      </mat-datepicker-toggle>
      <mat-datepicker
        #picker
      >
      </mat-datepicker>
    </mat-form-field>

    <mat-radio-group
      #genderContainer
      class = "signupFormField"
      fxLayoutGap="16px"
    >
      <mat-radio-button
        value = "male"
        checked
      >
        Nam
      </mat-radio-button>
      <mat-radio-button
        value = "female"
      >
        Nữ
      </mat-radio-button
      >
    </mat-radio-group>
    <button mat-raised-button color = "primary" [disabled]="signUpForm.invalid" (click)="register(signUpForm.value)">
      Đăng ký
    </button>
  </form>
</section>
