<mat-card
  class = "newsCard"
>
  <img [src]="news.thumbnail" [alt] = "news.id"/>
  <mat-card-title>
      <p
        class = "mat-body-2"
      >{{news.title}}
      </p>
  </mat-card-title>
  <mat-card-content>
    <p
      class = "mat-caption"
    >{{news.description}}</p>
  </mat-card-content>
  <mat-card-actions
    fxLayoutAlign="flex-end"
  >
    <button mat-raised-button color="accent" (click)="onItemDetailClick()">
      Xem chi tiết
    </button>
  </mat-card-actions>
</mat-card>
