<section>
  <mat-card
    style = "margin:16px"
  >
    <p fxLayout="column">
        <span
          class = "mat-body-2"
        >
          {{news.title}}
        </span>
      <span
        class = "mat-caption"
      >
          {{news.created | date}}
        </span>
      <span
        class = "mat-body-1"
      >
          {{news.description}}
        </span>
    </p>
    <mat-card-content
    >
      <img
        [src] = "news.thumbnail"
        [alt] = "news.id"
        style = "width: 100%; height: auto"
      />
      <p>
        {{news.content}}
      </p>
    </mat-card-content>
  </mat-card>
  <div
    class = "mat-subheading-1"
    style="padding-left: 16px"
  >
    Bình luận
  </div>
  <app-comments
    [comments] = "comments"
  >
  </app-comments>
  <form
    #commentForm = "ngForm"
    fxLayout="column"
    style = "padding: 16px; width:100%"
  >
    <mat-form-field>
      <textarea
        #newCommentContentView = "ngModel"
        [(ngModel)] = "newCommentContent"
        name = "newCommentContent"
        matInput
        placeholder="Viết bình luận"
        required
        ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="comment()"
      *ngIf = "(isAuth$ | async)"
      [disabled]="commentForm.invalid"
    >
      Gửi
    </button>
    <button
      mat-raised-button
      color = "primary"
      (click) = "navigateToLogin()"
      *ngIf = "!(isAuth$ | async)"
    >
      Đăng nhập để gửi bình luận
    </button>
  </form>
  <div
    class = "mat-subheading-1"
    style = "padding-left: 16px;"
  >
    Các tin liên quan
  </div>
  <app-vertical-newses
    [newses]="otherNewses"
    (itemDetailClick)="navigateToDetail($event)"
  ></app-vertical-newses>
</section>
