<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
              #drawer
              class="sidenav"
               fixedInViewport="true"
               mode= 'over'>
    <mat-toolbar>Xin chào, {{currentUser$ | async}}</mat-toolbar>
  <app-sidenav-list (itemClick) = "drawer.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-appbar
      (menuIconClick)="drawer.toggle()"
    >
    </app-appbar>
    <main>
      <router-outlet>
      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
