<section style = "padding: 16px">
  <mat-card *ngIf="!currentUserIsAdmin"
  >
    <p fxLayout="column">
        <span
          class = "mat-body-2"
        >
          {{post.title}}
        </span>
      <span
        class = "mat-caption"
      >
          {{post.created | date}}
        </span>
    </p>
    <mat-card-content
    >
      <p>
        {{post.content}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="currentUserIsAdmin"
  >
    <form #editPostForm = "ngForm" >
      <mat-form-field
        class = "formField"
      >
        <input
          matInput
          #title = "ngModel"
          name = "title"
          [(ngModel)]="post.title"
          placeholder="Tiêu đề"
          required
        />
        <mat-error *ngIf="title.hasError('required')">Tiêu đề không được để trống</mat-error>
      </mat-form-field>
      <mat-form-field
        class = "formField"
      >
        <textarea
          matInput
          #content = "ngModel"
          name = "content"
          [(ngModel)]="post.content"
          placeholder="Nội dung"
          required
          style = "height: 120px"
        >
        </textarea>
        <mat-error *ngIf="content.hasError('required')">Nội dung không được để trống</mat-error>
      </mat-form-field>
      <mat-form-field
        class = "formField"
      >
        <input
          matInput
          #name = "ngModel"
          [(ngModel)]="post.authorName"
          name = "author"
          placeholder="Tác giả"
          disabled
        />
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color = "accent" (click)="onEditPostButtonClicked()" [disabled]="editPostForm.invalid">
      Cập nhật
    </button>
  </mat-card>
  <div
    class = "mat-subheading-1"
    style = "margin-top: 16px"
  >
    Bình luận
  </div>
  <app-post-comments
    [comments] = "comments"
  >
  </app-post-comments>
  <form
    #commentForm = "ngForm"
    fxLayout="column"
    style = "width:100%; margin-top: 16px"
  >
    <mat-form-field>
      <textarea
        #newCommentContentView = "ngModel"
        [(ngModel)] = "newCommentContent"
        name = "newCommentContent"
        matInput
        placeholder="Viết bình luận"
        required
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="comment()"
      *ngIf = "(isAuth$ | async)"
      [disabled]="commentForm.invalid"
    >
      Gửi
    </button>
    <button
      mat-raised-button
      color = "primary"
      (click) = "navigateToLogin()"
      *ngIf = "!(isAuth$ | async)"
    >
      Đăng nhập để gửi bình luận
    </button>
  </form>
  <div
    class = "mat-subheading-1"
    style = "margin-top: 16px"
  >
    Các bài viết liên quan
  </div>
  <p *ngIf = "relatedPosts == undefined || relatedPosts.length == 0" style = "margin-left: 16px; " class = "mat-caption">Hiện chưa có bài viết nào liên quan</p>
  <ul style = "padding: 0; margin: 0; list-style-type: none" fxLayout="column" fxLayoutGap="16px">
    <li *ngFor="let post of relatedPosts" style = "width: 100%">
      <app-post [post] = "post"></app-post>
    </li>
  </ul>
</section>
