<section style = "padding: 0 16px">
  <div fxLayout="column" style = "margin-top: 16px" fxLayoutGap="16px">
    <button mat-raised-button color = "accent" fxLayout="row" fxLayoutAlign="flex-end center" (click)="navigateToCreateNews()">

      <span style = "padding-right: 16px">THÊM TIN TỨC MỚI</span>
      <mat-icon>add</mat-icon>

    </button>
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
      <mat-form-field fxFlex="grow" >
          <input
            #keyword = "ngModel"
            ngModel
            name = "keyword"
            matInput
            placeholder="Tìm kiếm tin tức"
            type = "text"
            required
          />
        <mat-hint *ngIf="keyword.hasError('required')">Hãy nhập từ khóa để tìm kiếm</mat-hint>
      </mat-form-field>
      <span fxFlex="auto">
        <button mat-raised-button [disabled]="keyword.hasError('required')" (click)="onSearchButtonClick(keyword.value)">
          <mat-icon>search</mat-icon>
      </button>
      </span>
    </div>
    <ul style = "margin: 0; padding: 0; list-style-type: none" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <li *ngFor="let news of searchedNewses" style = "width: 100%">
        <app-edit-news [news] = "news" (updateButtonClickListener) = "onUpdateButtonClicked($event)"></app-edit-news>
      </li>
    </ul>
    <span *ngIf="searchedNewses.length == 0">Không tìm thấy kết quả nào phù hợp</span>
    <ul *ngIf="searchedNewses.length == 0" style = "margin: 0; padding: 0; list-style-type: none" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <li *ngFor="let news of newses"  style = "width: 100%">
        <app-edit-news  [news] = "news" (updateButtonClickListener) = "onUpdateButtonClicked($event)"></app-edit-news>
      </li>
    </ul>
  </div>
</section>
