<mat-card
  class = "newsCard"
>
  <mat-card-title>
    <p
      class = "mat-body-2"
    >{{news.title}}
    </p>
  </mat-card-title>
  <mat-card-content>
    <p
      class = "mat-caption"
    >{{news.description}}</p>
  </mat-card-content>
  <mat-card-actions
    fxLayoutAlign="flex-end"
  >
    <button mat-raised-button color = "accent" (click)="onEditButtonClicked()">
      Chỉnh sửa
    </button>
  </mat-card-actions>
</mat-card>
