<ul
  style="
    padding: 0;
    list-style-type: none;
    margin: 16px;
  "
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="16px"
>
  <li
    *ngFor="let comment of comments"
    style = "
      width: 100%;
    "
  >
    <app-comment-card [comment]="comment"
    ></app-comment-card>
  </li>
</ul>
