<section>
  <h1
    class = "mat-title"
    style = "padding-top: 16px; padding-left: 16px"
  >
    Tin hót trong ngày
  </h1>
  <app-vertical-newses
    [newses] = "newses"
    (itemDetailClick)="onItemDetailClick($event)"
  >

  </app-vertical-newses>
</section>
